<!DOCTYPE html>
<html lang="en">
<% locals.route = [{title: 'Error', location: ''}]; %>
<%- include('_partials/head.ejs') %>
<body class="error-page">
<%- include('_partials/header.ejs') %>

<div class="container">
	<% if (error && error.status) { switch (error.status) { case 404: %>
	<h1 class="text-danger">404</h1>
	<h1>The page you're looking for doesn't exist.</h1>
	<% break; default: %>
	<h1 class="text-danger">An error occurred.</h1>
	<br/>
	<dl>
		<dt>Message:</dt>
		<dd><%= message %></dd>
	</dl>
	<dl>
		<dt>Status:</dt>
		<dd><%= error.status %></dd>
	</dl>
	<dl>
		<dt>Stack:</dt>
		<dd>
			<% if (error.stack) { %>
			<pre><%= error.stack %></pre>
			<% } else { %>
			<span class="text-danger">N/A</span>
			<% } %>
		</dd>
	</dl>
	<% break; } } else { %>
	<h1 class="text-danger">An unexpected error occurred.</h1>
	<br/>
	<dl>
		<dt>Message:</dt>
		<dd><%= message %></dd>
	</dl>
	<% } %>
</div>
<%- include('_partials/footer.ejs') %>
<%- include('_partials/scripts.ejs') %>
</body>
</html>
