<!DOCTYPE html>
<html lang="en">
<%- include('_partials/head.ejs') %>
<body>
<%- include('_partials/header.ejs') %>

<div class="body-content jumbotron">
	<div class="container">
		<h1>Kiririn</h1>
		<p>
			Kiririn a platform that runs <a href="https://archbox.xyz">ArchBox</a> services.
			Most services by ArchBox are provided under the
			<a href="https://www.gnu.org/licenses/gpl-3.0-standalone.html" target="_blank">GPL3</a>
			licence, and don't provide any warranty.
		</p>
	</div>
</div>
<div class="body-content container">
	<p>Kiririn has the following services publicly available:</p>
	<ul>
		<% if (locals.newsItems && Array.isArray(locals.newsItems)) { locals.newsItems.forEach((newsItem) => { %>
		<li><%= newsItem %></li>
		<% }); } %>
	</ul>
</div>

<%- include('_partials/footer.ejs') %>

<%- include('_partials/scripts.ejs') %>
</body>
</html>
