<!DOCTYPE html>
<html lang="en">
<%- include('_partials/head.ejs') %>
<body>
<%- include('_partials/header.ejs') %>

<div class="body-content container">
    <h1>Privacy Policy</h1>
    <p>Kiririn.io operates all websites under this domain including subdomains, which provides the SERVICE.
        This page is used to inform website visitors regarding our policies with the collection, use, and disclosure of
        Personal Information if anyone decided to use our Service, the Kiririn website.
        If you choose to use our Service, then you agree to the collection and use of information in relation with this
        policy.
        The Personal Information that we collect are used for providing and improving the Service.
        We will not use or share your information with anyone except as described in this Privacy Policy.
        The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which is accessible
        at <a href="https://kiririn.io/privacy">https://kiririn.io/privacy</a>, unless otherwise defined in this Privacy
        Policy.
    </p>

    <h2>Information Collection and Use</h2>
    <p>We do not collect any data on you.</p>

    <h2>Log Data</h2>
    <p>
        We want to inform you that whenever you visit our Service, we collect information that your browser sends to us
        that is called Log Data.
        This Log Data may include information such as your computer’s Internet Protocol ("IP") address, browser version,
        pages of our Service that you visit, the time and date of your visit, and other
        statistics.
    </p>

    <h2>Cookies</h2>
    <p>
        Cookies are files with small amount of data that is commonly used an anonymous unique identifier.
        These are sent to your browser from the website that you visit and are stored on your computer’s hard drive.
        Our website doesn't use these "cookies".
    </p>


    <h2>Security</h2>
    <p>
        We value your trust in providing us your Personal Information, thus we are striving to use commercially
        acceptable means of protecting it.
        But remember that no method of transmission over the internet, or method of electronic storage is 100% secure
        and reliable, and we cannot guarantee its absolute security.
    </p>

    <h2>Links to Other Sites</h2>
    <p>
        Our Service may contain links to other sites.
        If you click on a third-party link, you will be directed to that site.
        Note that these external sites are not operated by us.
        Therefore, we strongly advise you to review the Privacy Policy of these websites.
        We have no control over, and assume no responsibility for the content, privacy policies, or practices of any
        third-party sites or services.
    </p>

    <h2>Children's Privacy</h2>
    <p>
        Our Services do not address anyone under the age of 13.
        We do not knowingly collect personal identifiable information from children under 13.
        In the case we discover that a child under 13 has provided us with personal information, we immediately delete
        this from our servers.
        If you are a parent or guardian and you are aware that your child has provided us with personal information,
        please contact us so that we will be able to do necessary actions.
    </p>

    <h2>Changes to This Privacy Policy</h2>
    <p>
        We may update our Privacy Policy from time to time.
        Thus, we advise you to review this page periodically for any changes.
        We will notify you of any changes by posting the new Privacy Policy on this page.
        These changes are effective immediately, after they are posted on this page.
    </p>

    <h2>Contact Us</h2>
    <p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us.</p>
</div>

<%- include('_partials/footer.ejs') %>

<%- include('_partials/scripts.ejs') %>
</body>
</html>
