<!DOCTYPE html>
<html lang="en"
	  ng-app="kiririn"
	  class="no-js">
<% locals.styles = ['/styles/twitchPlaylist.css']; %>
<%- include('_partials/head.ejs') %>
<body ng-controller="twitchPlaylist">
<%- include('_partials/header.ejs') %>

<div class="body-content container">
	<h1>Twitch playlist manager</h1>
	<div class="card card-block card-outline-default">
		<!-- Select Playlist -->
		<div class="input-group">
			<select ng-model="selectedPlaylistId"
					ng-init="selectedPlaylistId = selectedPlaylistIdInit(playlists)"
					class="form-control custom-select">
				<option ng-if="!playlists || playlists.length < 1 || !selectedPlaylistId"
						ng-value="null"
						disabled
						selected>Select a playlist...
				</option>
				<option ng-repeat="playlist in playlists track by playlist.id"
						value="{{::playlist.id}}">
					{{::playlist.name || playlist.id}}
					({{playlist.videos.length}}
					{{playlist.videos.length !== 1 ? 'videos' : 'video'}})
				</option>
			</select>
			<span class="input-group-btn">
			<button ng-click="openModal('#addPlaylistModal')"
					class="btn btn-success">
				<i class="fa fa-plus"></i>
			</button>
			</span>
			<span class="input-group-btn">
			<button ng-click="removePlaylistModal()"
					ng-disabled="!selectedPlaylist"
					class="btn btn-danger">
				<i class="fa fa-trash"></i>
			</button>
			</span>
		</div>

		<!-- Video List -->
		<ul class="list-unstyled"
			ng-if="selectedPlaylist && videos && videos.length > 0">
			<li class="media"
				ng-class="{'disabled-link': video.isWatched}"
				ng-repeat="video in videos track by video.id">
				<img ng-src="{{::getThumbnail(video)}}"
					 class="media-img d-flex m-3"/>
				<div class="media-body m-3">
					<h5 class="mt-0 mb-1">
						<a ng-class="::!video.cache.title ? 'text-muted italic' : ''"
						   ng-href="{{::video.cache.url}}">{{::video.cache.title || video.id}}</a>
					</h5>
					<p ng-class="!video.cache.description ? 'text-muted italic' : ''">
						{{::video.cache.description || 'No description'}}
					</p>
				</div>
				<div class="input-group m-3">
					<div class="input-group-btn">
						<button ng-click="toggleVideoWatched(video.id)"
								ng-class="video.isWatched ? 'btn-secondary' : 'btn-primary'"
								title="Toggle video watched"
								class="btn">
							<i class="fa"
							   ng-class="{'fa-eye-slash': video.isWatched, 'fa-eye': !video.isWatched}"></i>
						</button>
					</div>
					<div class="input-group-btn">
						<button ng-click="removeVideoModal(video.id)"
								title="Remove video from playlist"
								class="btn btn-danger">
							<i class="fa fa-trash"></i>
						</button>
					</div>
				</div>
			</li>
		</ul>

		<div class="text-danger m-3"
			 ng-if="!videos || videos.length < 1">
			Please
			{{selectedPlaylist ?
			'add a video' :
			(playlists.length ? 'select' : 'add') + ' a playlist'}}.
		</div>

		<!-- Add Video -->
		<div ng-show="selectedPlaylist"
			 class="input-group">
			<input ng-model="newVideo"
				   ab-enter="addVideoToPlaylist()"
				   placeholder="Video URL, or video ID..."
				   class="form-control"
				   type="text"/>
			<span class="input-group-btn">
				<button ng-click="addVideoToPlaylist()"
						class="btn btn-success"
						type="button"><i class="fa fa-plus"></i></button>
			</span>
		</div>
	</div>
</div>

<!-- Modals -->
<div name="modals">
	<!-- Add Playlist Modal -->
	<div id="addPlaylistModal"
		 class="modal">
		<div class="modal-dialog"
			 role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">
						<i class="fa fa-plus"></i>
						Add new playlist.
					</h5>
					<button class="close"
							type="button"
							data-dismiss="modal"
							aria-label="Close">&times;
					</button>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<input ng-model="newPlaylist"
							   class="form-control"
							   placeholder="Playlist name..."
							   type="text"/>
					</div>
				</div>
				<div class="modal-footer">
					<button ng-click="addPlaylist()"
							class="btn btn-success"
							type="button">Add playlist
					</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Remove Playlist Modal -->
	<div id="removePlaylistModal"
		 class="modal">
		<div class="modal-dialog"
			 role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">
						<i class="fa fa-trash"></i>
						Remove playlist?
					</h5>
					<button class="close"
							type="button"
							data-dismiss="modal"
							aria-label="Close">&times;
					</button>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<p>Are you sure you want to remove '{{selectedPlaylist.name}}' playlist?</p>
					</div>
				</div>
				<div class="modal-footer">
					<button ng-click="removePlaylist()"
							class="btn btn-danger"
							type="button">Remove playlist
					</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Remove Video Modal -->
	<div id="removeVideoModal"
		 class="modal">
		<div class="modal-dialog"
			 role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">
						<i class="fa fa-trash"></i>
						Remove video from playlist?
					</h5>
					<button class="close"
							type="button"
							data-dismiss="modal"
							aria-label="Close">&times;
					</button>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<p>Are you sure you want to remove '{{videoToRemove.cache.title}}' from this playlist?</p>
					</div>
				</div>
				<div class="modal-footer">
					<button ng-click="removeVideo()"
							class="btn btn-danger"
							type="button">Remove video from playlist
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<%- include('_partials/footer.ejs') %>

<% locals.scripts = ['/scripts/twitchPlaylist.js']; %>
<%- include('_partials/scripts.ejs') %>
</body>
</html>
