<div ng-if="!isTracking">
	Please enter parcel information.
</div>
<div ng-if="isTracking">
	<div ng-if="!trackingClass">
		Loading...
	</div>
	<div ng-if="trackingClass === 'danger'">
		Tried at {{humanizedLastCheck}}.<br/>
		An error occurred.<br/>
		Status: <code>{{error.status || '?'}}</code> &mdash; <code>{{error.statusText || '?'}}</code><br/>
		Will try again in {{HUMANIZED_WAIT_TIME}}, at {{humanizedNextCheck}}.
	</div>
	<div ng-if="trackingClass === 'warning'">
		Tried at {{humanizedLastCheck}}.<br/>
		No info found.<br/>
		Will try again in {{::HUMANIZED_WAIT_TIME}}, at {{humanizedNextCheck}}.
	</div>
	<div ng-if="trackingClass === 'info'">Info found, loading...</div>
	<div ng-if="trackingClass === 'success'">
		Received info at {{humanizedLastCheck}}.<br/>
		Will refresh in {{::HUMANIZED_WAIT_TIME}}, at {{humanizedNextCheck}}.
	</div>
</div>