<meta charset="utf-8"/>
<meta name="generator"
	  content="NodeJS Express"/>
<meta http-equiv="X-UA-Compatible"
	  content="IE=edge"/>
<meta name="viewport"
	  content="width=device-width,initial-scale=1"/>
<link rel="icon"
	  type="image/ico"
	  href="/favicon.ico"/>
<link rel="icon"
	  type="image/png"
	  href="/images/kiririn.png"/>
<link rel="icon"
	  type="image/svg+xml"
	  href="/images/kiririn.svg"/>
