.ratio-16x9 {
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	position: relative
}

.ratio-4x3 {
	width: 100%;
	height: 0;
	padding-bottom: 75%;
	position: relative
}

.ratio-3x4 {
	width: 100%;
	height: 0;
	padding-bottom: 133.333333%;
	position: relative
}

@font-face {
	font-family: 'veramonofont2web2';
	src: url("/fonts/AndroidVeraMono.eot");
	src: url("/fonts/AndroidVeraMono.eot") format("embedded-opentype"),
	url("/fonts/AndroidVeraMono.woff") format("woff"),
	url("/fonts/AndroidVeraMono.ttf") format("truetype"),
	url("/fonts/AndroidVeraMono.svg") format("svg");
	font-weight: normal;
	font-style: normal
}

//.teletekst__content__pre .black, .teletekst__related li.black {
//	color: #000
//}
//
//.teletekst__content__pre .red, .teletekst__related li.red {
//	color: #f00
//}
//
//.teletekst__content__pre .green, .teletekst__related li.green {
//	color: #0f0
//}
//
//.teletekst__content__pre .yellow, .teletekst__related li.yellow {
//	color: #ff0
//}
//
//.teletekst__content__pre .blue, .teletekst__related li.blue {
//	color: #00f
//}
//
//.teletekst__content__pre .magenta, .teletekst__related li.magenta {
//	color: #f0f
//}
//
//.teletekst__content__pre .cyan, .teletekst__related li.cyan {
//	color: #0ff
//}
//
//.teletekst__content__pre .bg-red, .teletekst__related li.bg-red {
//	background: #f00
//}
//
//.teletekst__content__pre .bg-green, .teletekst__related li.bg-green {
//	background: #0f0
//}
//
//.teletekst__content__pre .bg-yellow, .teletekst__related li.bg-yellow {
//	background: #ff0
//}
//
//.teletekst__content__pre .bg-blue, .teletekst__related li.bg-blue {
//	background: #00f
//}
//
//.teletekst__content__pre .bg-magenta, .teletekst__related li.bg-magenta {
//	background: #f0f
//}
//
//.teletekst__content__pre .bg-cyan, .teletekst__related li.bg-cyan {
//	background: #0ff
//}
//
//.teletekst__content__pre .bg-white, .teletekst__related li.bg-white {
//	background: #fff
//}

.teletekst__content {
	font-size: 0.552778em;
	position: relative;
	transform: scale(1.2)
}

@media screen and (min-width: 28.125em) {
	.teletekst__content {
		transform: scale(1);
		font-size: 0.830556em
	}
}

@media screen and (min-width: 37.5em) and (min-height: 46em) {
	.teletekst__content {
		font-size: 1.108333em
	}
}

@media screen and (min-width: 47.5em) {
	.teletekst__content {
		display: inline-block;
		float: left
	}
}

.teletekst__content__pre {
	line-height: normal;
	height: 28.8em;
	width: 25em;
	font-family: 'veramonofont2web2', Vera Mono, monospace;
	white-space: pre-wrap;
	-webkit-font-smoothing: initial;
	color: white;
	margin: 0 auto;

	.black, .teletekst__related li.black {
		color: #000;
	}

	.bg-black, .teletekst__related li.bg-black {
		background: #000;
	}

	.red, .teletekst__related li.red {
		color: #f00;
	}

	.bg-red, .teletekst__related li.bg-red {
		background: #f00;
	}

	.green, .teletekst__related li.green {
		color: #0f0;
	}

	.bg-green, .teletekst__related li.bg-green {
		background: #0f0;
	}

	.yellow, .teletekst__related li.yellow {
		color: #ff0;
	}

	.bg-yellow, .teletekst__related li.bg-yellow {
		background: #ff0;
	}

	.blue, .teletekst__related li.blue {
		color: #00f;
	}

	.bg-blue, .teletekst__related li.bg-blue {
		background: #00f;
	}

	.magenta, .teletekst__related li.magenta {
		color: #f0f;
	}

	.bg-magenta, .teletekst__related li.bg-magenta {
		background: #f0f;
	}

	.cyan, .teletekst__related li.cyan {
		color: #0ff;
	}

	.bg-cyan, .teletekst__related li.bg-cyan {
		background: #0ff;
	}

	.white, .teletekst__related li.white {
		color: #fff;
	}

	.bg-white, .teletekst__related li.bg-white {
		background: #fff;
	}

	a {
		text-decoration: none;
		color: white;
	}

	a[id^="fastText"] {
		display: inline;
	}
}

@media screen and (min-width: 47.5em) {
	.teletekst__content__pre {
		margin: 0;
		clear: left
	}
}

@media screen and (min-width: 56.25em) {
	.teletekst__content__pre {
		margin: 0
	}
}

//.teletekst__content__pre a {
//	text-decoration: none;
//	color: white
//}
//
//.teletekst__content__pre a[id^="fastText"] {
//	display: inline
//}

.teletekst__error {
	position: absolute;
	top: 50%;
	left: 25%;
	background: #C00;
	color: #FFF;
	padding: 1em;
	text-align: center
}

.teletekst__nav {
	min-height: 100%;
	width: 10.2em;
	margin: 0 auto 3em;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}

@media screen and (min-width: 47.5em) {
	.teletekst__nav {
		float: right;
		width: 10.111111em
	}
}

@media screen and (min-width: 56.25em) {
	.teletekst__nav {
		margin-right: 6.555556em
	}
}

html.no-boxsizing .teletekst__nav {
	behavior: url(/assets/css/polyfills/boxsizing.htc)
}

.teletekst__nav > nav, .teletekst__nav > ul {
	margin: 0 0 0.5em 0
}

.teletekst__nav > nav:last-child, .teletekst__nav > ul:last-child {
	margin-bottom: 1em
}

.teletekst__nav button {
	background: none;
	border: none;
	text-align: center;
	cursor: pointer
}

.teletekst__nav nav a, .teletekst__nav nav button {
	background: #333;
	border: none;
	color: white;
	height: 2em;
	line-height: 1.2em;
	padding: 0.5em;
	text-align: center
}

.teletekst__nav nav a:not(.disabled):hover, .teletekst__nav nav button:not(.disabled):hover {
	background: #4d4d4d
}

.teletekst__nav nav a:not(.disabled), .teletekst__nav nav button:not(.disabled) {
	cursor: pointer
}

.teletekst__nav nav a.disabled, .teletekst__nav nav button.disabled {
	opacity: 0.3
}

.teletekst__nav nav a div.icon, .teletekst__nav nav button div.icon {
	margin-top: 2px
}

.teletekst__nav nav a span, .teletekst__nav nav button span {
	font-size: 0.8em
}

.teletekst__page-input {
	*zoom: 1;
	position: relative
}

.teletekst__page-input:before, .teletekst__page-input:after {
	content: " ";
	display: table
}

.teletekst__page-input:after {
	clear: both
}

.teletekst__page-input input {
	float: left;
	border-radius: 0;
	width: 4.785556em;
	border: 0;
	height: 2em;
	padding: 0.5em 0 0.5em 0.5em;
	text-align: center
}

.teletekst__page-input a {
	float: left;
	width: 2.142778em
}

.teletekst__page-input a.home {
	margin-right: 0.5em
}

.teletekst__page-input a.go {
	margin-left: 0.5em;
	background: #379ADD
}

.teletekst__page-input a.go:not(.disabled):hover {
	background: #63b0e4
}

.teletekst__page-input button.favorite {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 2.642778em;
	padding: 0.5em 0.25em;
	color: #FFCA01
}

.teletekst__page-input button.favorite, .teletekst__page-input button.favorite:not(.disabled):hover {
	background: #FFF
}

.teletekst__page-input button.favorite .icon-star-o {
	display: block
}

.teletekst__page-input button.favorite .icon-star {
	display: none
}

.teletekst__page-input.favorite button.favorite .icon-star-o {
	display: none
}

.teletekst__page-input.favorite button.favorite .icon-star {
	display: block
}

.teletekst__pager {
	*zoom: 1
}

.teletekst__pager:before, .teletekst__pager:after {
	content: " ";
	display: table
}

.teletekst__pager:after {
	clear: both
}

.teletekst__pager a {
	float: left;
	margin-left: 0.5em;
	width: 2.142778em
}

.teletekst__pager a:first-child {
	margin-left: 0
}

.teletekst__pager div.icon {
	color: #fff;
	font-size: 1.333333em;
	line-height: 0.666667em
}

.teletekst__keypad {
	display: none;
	*zoom: 1
}

@media screen and (min-width: 47.5em) {
	.teletekst__keypad {
		display: block
	}
}

.teletekst__keypad:before, .teletekst__keypad:after {
	content: " ";
	display: table
}

.teletekst__keypad:after {
	clear: both
}

.teletekst__keypad__button {
	float: left;
	margin-left: 0.5em;
	margin-bottom: 0.5em;
	width: 3.027037em
}

.teletekst__keypad__button:nth-child(3n+1) {
	margin-left: 0;
	clear: left
}

.teletekst__keypad__button--backspace {
	width: 6.554074em
}

.teletekst__keypad__button:focus {
	outline: thin dotted
}

.teletekst__favorites {
	display: none;
	margin-bottom: 0.5em;
	color: white
}

@media screen and (min-width: 47.5em) {
	.teletekst__favorites {
		display: block
	}
}

.teletekst__favorites ul {
	list-style: none
}

.teletekst__favorites__title {
	margin-top: 1.5em;
	font-size: 0.666667em;
	color: #999;
	text-transform: uppercase;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-weight: bold
}

.teletekst__favorites__item {
	position: relative;
	background: #333;
	width: 100%;
	margin-bottom: 0.5em
}

.teletekst__favorites__item a, .teletekst__favorites__item button {
	color: inherit
}

.teletekst__favorites__item a {
	display: block;
	padding: 0 1.5em 0 .8em
}

.teletekst__favorites__item a span {
	font-size: 0.8em
}

.teletekst__favorites__item:not(.disabled):hover {
	background: #4d4d4d
}

.teletekst__favorites__item:not(.disabled):hover button.remove:hover {
	color: #c00
}

.teletekst__favorites__item__remove {
	display: block;
	padding: .6em .5em;
	position: absolute;
	right: 0;
	top: 0
}

.teletekst__favorites__item__remove:hover {
	color: #fff
}

.teletekst__favorites__empty {
	float: none;
	width: auto;
	background: none;
	color: #999;
	font-size: 0.6em;
	text-align: left
}

.teletekst__favorites__empty:hover {
	background: none
}

.teletekst__favorites__addpage .button {
	display: block;
	font-size: 14px;
	font-weight: normal;
	color: #fff;
	padding: .5em;
	line-height: 1.4
}

.teletekst__favorites__addpage .button:hover {
	color: #fff;
	cursor: pointer
}

.teletekst__related {
	display: none;
	float: right;
	width: 8.888889em;
	margin-right: 1em;
	color: white
}

.teletekst__related h2 {
	margin-top: 0
}

.teletekst__related ul {
	margin: 0
}

.teletekst__related li {
	list-style: none;
	margin-bottom: 0.5em
}

.teletekst__related li > a {
	display: block;
	background: #333;
	color: inherit;
	padding: 4px;
	text-align: center
}

.teletekst__related li > a > div {
	background: #212121;
	overflow: hidden;
	height: 4.722222em;
	position: relative
}

.teletekst__related li > a > div > div.teletekst {
	opacity: 0.3;
	font-size: 0.36em
}

.teletekst__related li > a > div > div.fader {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 40px;
	background: linear-gradient(rgba(33, 33, 33, 0), #212121)
}

.teletekst__related li > a > span {
	display: block;
	margin-top: 4px;
	padding: 2px;
	line-height: 1.2em;
	font-size: 0.6em;
	text-transform: uppercase
}

.teletekst__related li > a:hover {
	background: #4d4d4d
}

.teletekst__related li > a:hover > div > div.teletekst, .teletekst__related li > a:hover > span {
	opacity: 1
}

.teletekst__ster {
	display: none;
	padding-top: 4em;
	clear: both
}

@media screen and (min-width: 56.25em) {
	.teletekst__ster {
		display: block;
		padding-top: 2em;
		float: right;
		clear: right
	}
}